* {
  margin: 0px;
  padding: 0px;
  font-family: lato;
}
.first-banner {
  background-color: #ffedf0e4;
  height: 700px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 60px;
}
.side {
  width: 35%;
}
.right {
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: center;
  height: 100%;
}
.right img {
  height: 90%;
}
h1 {
  font-size: 60px;
  font-weight: 800;
  color: rgba(0, 0, 0, 0.829);
}
p {
  padding: 30px 35px 30px 0px;
  font-size: 16px;
  color: rgba(0, 0, 0, 0.553);
  line-height: 25px;
  font-weight: 500;
  word-spacing: 3px;
}
button {
  background: rgb(234, 101, 123);
  color: aliceblue;
  padding: 15px 30px;
  border: none;
  border-radius: 6px;
  font-size: 15px;
  cursor: pointer;
}
button:hover {
  background-color: rgb(255, 46, 81);
  transition: 0.5s;
  overflow: hidden;
}
.second-banner {
  padding: 70px 20px;
}
.title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
h2 {
  font-weight: 800;
  font-size: 35px;
}
.featured-description {
  padding: 20px 10px;
  font-size: 16px;
  color: rgba(0, 0, 0, 0.553);
  line-height: 20px;
  font-weight: 500;
  word-spacing: 3px;
  width: 45%;
  text-align: center;
}
.featured {
  display: flex;
  justify-content: center;
  padding-bottom: 50px;
  align-items: center;
}

.photo {
  height: 400px;
  width: 350px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: end;
  margin: 15px;
  border-radius: 200px 200px 10px 10px;
}
.photo > img {
  height: 80%;
}
.one {
  background-color: rgba(181, 181, 255, 0.53);
}
.two {
  background-color: rgba(181, 255, 222, 0.53);
}
.three {
  background-color: rgba(255, 181, 238, 0.53);
}
.name {
  text-align: center;
  font-size: 25 / px;
  font-weight: bold;
  padding: 5px;
}
.name > a {
  text-decoration: none;
  color: black;
}
.group {
  background-color: rgba(162, 162, 162, 0.242);
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  height: 280px;
  border-radius: 15px;
}
.group-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.group-title {
  font-size: 20px;
  padding: 10px;
  color: rgba(0, 0, 0, 0.559);
  font-weight: 700;
}
.third-banner {
  background-color: #ffedf0e4;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 60px 0px;
  padding: 10px 150px;
  height: 400px;
}
span {
  color: rgb(255, 35, 71);
}
.third-right {
  text-align: center;
}
.third-left {
  text-align: center;

  width: 50%;
}
.third-right > img {
  width: 75%;
}
.ig-photos {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  border-radius: 10px;
  margin: 10px;
}
.ig-photo-box {
  margin: 10px;
}
.ig-photo-box > img {
  height: 300px;
  border-radius: 150px;
}
.small-banner {
  margin: 100px 200px;
  text-align: center;
  height: 400px;
  display: flex;
  align-items: center;
  background-image: url(images/Rectangle9.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 99%;
}
.email {
  width: 100%;
}
.small-banner > p {
  padding: 0px;
}
input {
  height: 48px;
  width: 40%;
  padding: 12px 30px;
  border: 1px solid black;
  margin: 10px 10px;
  display: inline-block;
  border: none;
  border-radius: 4px;
  box-sizing: border-box;
}
footer {
  padding: 70px 10px;
  background-color: black;
  height: 200px;
  text-align: center;
}
.markers {
  font-size: 12px;
  color: rgba(255, 255, 255, 0.486);
  font-weight: 400;
}
/* midea queries */
@media screen and (max-width: 767px) {
  .right {
    display: none;
  }
  .first-banner {
    width: 100%;
    text-align: center;
    height: 400px;
    align-items: start;
  }
  .side {
    width: 90%;
  }
  h1 {
    font-size: 30px;
    padding-top: 50px;
  }
  .top-para {
    padding: 30px 15px;
  }
  .box {
    margin: 40px 10px;
  }
  .title {
    margin: 10px;
  }
  .featured-description {
    width: 90%;
  }
  h2 {
    text-align: center;
    font-size: 30px;
  }
  .featured {
    flex-direction: column;
  }
  .photo {
    overflow: hidden;
  }
  .group {
    height: 600px;
    flex-direction: column;
  }
  footer > p {
    padding: 30px;
  }
  .third-banner {
    height: 500px;
    margin: 10px 0px 50px;
    padding: 10px;
    flex-wrap: wrap;
  }
  .third-left {
    order: 2;
    width: 95%;
  }
  .third-left > p {
    padding: 20px 10px;
  }
  .third-right {
    order: 1;
  }
  .third-right > img {
    width: 40%;
  }
  .ig-photos {
    flex-wrap: wrap;
  }
  .small-banner {
    margin: 0px;
    background-size: auto;
  }
  .email {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .email > p {
    padding: 20px;
  }

  .email > input {
    width: 70%;
  }
}
