* {
  margin: 0px;
  padding: 0px;
  font-family: lato;
}
.first-banner {
  background-color: #ffedf0;
  height: 700px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.side {
  width: 35%;
}
.right {
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: center;
  height: 100%;
}
.right img {
  height: 90%;
}
h1 {
  font-size: 60px;
  font-weight: 800;
  color: rgba(0, 0, 0, 0.829);
}
p {
  padding: 30px 35px 30px 0px;
  font-size: 16px;
  color: rgba(0, 0, 0, 0.553);
  line-height: 25px;
  font-weight: 500;
  scroll-behavior: smooth;
}
button {
  background: rgb(234, 101, 123);
  color: aliceblue;
  padding: 15px 30px;
  border: none;
  border-radius: 6px;
  font-size: 15px;
  cursor: pointer;
}
